<ul class="clearfix">
    <li class="base" >
      <a target="_blank" href="#">
        <img src="{{ 'base.png' | asset_url }}" alt="{{ 'base.base_alt' | t }}" title="{{ 'base.base_title' | t }}" height="30">
      </a>
    </li>
    <li class="cart">
      <a href="{{ routes.cart_url }}">
        <img src="{{ 'cart.png' | asset_url }}" alt="{{ 'sections.header.cart_alt' | t }}" height="30">
      </a>
    </li>
</ul>