<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="{{ request.locale.iso_code }}"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="{{ request.locale.iso_code }}"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="{{ request.locale.iso_code }}"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="{{ request.locale.iso_code }}"> 
<!--<![endif]-->
  <head>
    {{ 'baseshop.css' | asset_url | stylesheet_tag }}
    <meta charset="utf-8">
    <meta name="copyright" content="BASE" />
    <meta name="facebook-domain-verification" content="lrz5pqh0qlzz5w790cmxw66js2x9vo" />
    <title>MoMoSale - ド定番から最新のものまで網羅！ストリート系ファッション専門店</title>
    <link rel='icon' type='image/png' href="{{ 'favicon.png' | asset_url }}" />
    <link rel='apple-touch-icon' sizes='180x180' href="{{ 'apple-touch-icon.png' | asset_url }}" />
    <link rel='apple-touch-icon-precomposed' href="{{ 'apple-touch-icon.png' | asset_url }}" />

    <script src="{{ 'jquery-1.8.2.min.js' | asset_url }}"></script>

    <script src="{{ 'jquery.bottom-1.0.js' | asset_url }}"></script>
    <script src="{{ 'change_status.js' | asset_url }}"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <link href="https://fonts.googleapis.com/css?family=Amatic+SC:400,700|Crimson+Text|Josefin+Slab:400,700|Marcellus+SC|Montserrat:400,700|Noto+Sans+JP:400,700|Oswald:400,700|Pacifico|Playfair+Display:400,700|Poppins:400,700|Quicksand:400,700|Raleway:400,700|Roboto:400,700|Spectral+SC:400,700" rel="stylesheet">

    {{ 'temp-helshinki.css' | asset_url | stylesheet_tag }}
    {{ 'slidebars_v1.css' | asset_url | stylesheet_tag }}
    <script src="{{ 'slidebars_v1.min.js' | asset_url }}"></script>
    <script src="{{ 'slick.min.js' | asset_url }}"></script>
    {{ 'slick.css' | asset_url | stylesheet_tag }}
    {{ 'slick-theme.css' | asset_url | stylesheet_tag }}
    {{ 'common.css' | asset_url | stylesheet_tag }}
    {{ 'colorbox.css' | asset_url | stylesheet_tag }}
    {{ 'head.css' | asset_url | stylesheet_tag }}

    <div id="gotop">
      <img style="max-width: 100%;" src="{{ 'topa.png' | asset_url }}" alt="">
    </div>

    <script>
      gotop.onclick = function(){
        document.body.scrollTop = document.documentElement.scrollTop = 0;
      }
      window.onscroll = function(){
        if(document.documentElement.scrollTop > 300){
          gotop.style.width = "30px"
        }else{
          gotop.style.width = "0"
        }
      }
    </script>

    {{ 'search.css' | asset_url | stylesheet_tag }}
    {{ 'style.css' | asset_url | stylesheet_tag }}
    <script type="text/javascript" src="{{ 'labelpostion.js' | asset_url }}"></script>

    <!-- BlogList -->
    <script type="text/javascript">
      $(function(){
        $(".blog_publish p").addClass("yumin");
      });
    </script>
    <!-- /BlogList -->
      
    <script type="text/javascript">
      //メッセージApp 
      $(function() {
        $("#x_message").find(".msg_startButton__text").addClass("yumin");
      });

      //背景色の取得
      $(function(){
        var bodyBgColor = $('body').css('background-color');
        $("#category-menu .category-list #appsItemCategoryTag").css("background-color", bodyBgColor);
      });

      //メニュー開閉
      $(function () {
        $('.sb-toggle-right').on('click touchstart', function(){
          $('.menu-trigger').toggleClass('cls');
          $('#sb-site').toggleClass('side-open');
        });
        $('#js__overlay').on('click touchstart', function(){
          $('.menu-trigger').removeClass('cls');
          $('#sb-site').removeClass('side-open');
          });
        });
      //サイドメニュー内のtext-overflow
      $(function() {
        $(".sb-slidebar .appsItemCategoryTag_child a").wrapInner('<span class="over-text"></span>');
      });
    </script>

    <!-- Slickjsよりも先に記載 -->
    <script type="text/javascript">
        // スライド画像がない場合、1px画像をDOMごと削除
        $(document).ready(function(){
          $("img[src*='1px']").parent("div").remove();
        });
        // Searchボタン
        $(document).on('click', 'a#toggle-search', function () 
          { 
            var search = $('div#search');
            search.is(":visible") ? search.slideUp() : search.slideDown(function()
            {
              search.find('input').focus();
            });
            $('body,html').animate({
              scrollTop: 0
            }, 500);
            return false;
          });
          $(document).click(function(event) { 
            if (!$.contains($("div#search")[0], event.target)) { 
                $("div#search").slideUp();
            }
        });
    </script>
    <!-- /Slickjsよりも先に記載 -->
    <script type="text/javascript" >
      $(document).ready(function(){
        $('#visual').slick({
          dots: true,
          infinite: true,
          speed: 600,
          autoplay: true,
          autoplaySpeed: 4000,
          adaptiveHeight: true
        });
      });
    </script>
      
    <script>
      (function($) {
        $(document).ready(function() {
          $.slidebars();
        });
      }) (jQuery);
    </script>
    {{ content_for_header }}
  </head>

  {%- assign now_route_ = canonical_url | replace: shop.url , "" -%}
  {%- assign now_route = now_route_ | replace: routes.root_url , "" -%}

  {%- if now_route and (now_route == 'cart' or now_route == 'account' or now_route == "accountlogin" or now_route == 'accountregister' or now_route == 'accountaddresses' or now_route == '404' ) -%}
      {%- assign account = true -%}
  {%- else-%}
      {%- assign account = false -%}
  {%- endif -%}

  {{ 'emmmmm.css' | asset_url | stylesheet_tag }}

  <body class="shop template " id="">
    {% section 'header' %}
    <!-- sb-site -->
    <div id="sb-site">
      <!---电脑端头部logo与列表与搜索框-->
      {% section 'div_header' %}
      <!---电脑端头部logo与列表与搜索框end-->
    
      <div class="inner-conts" id="sb-site-inner">

        <!--start-->
        {{ content_for_layout }}
        <!--end-->

        <div id="loading" style="display: none;text-align: center;">
          <img src="{{ 'loading.gif' | asset_url }}" width="220" style="padding: 20px 0;" />
        </div>

        {% section 'footer' %}
      </div>
    <!-- /inner-conts -->
    </div>
    <!-- /sb-site -->

    <!--slidebars右侧边栏-->
    {% section 'sb-slidebar' %}
    
    <script>
      window.routes = { 
      	cart_add_url: '{{ routes.cart_add_url }}',
        cart_change_url: '{{ routes.cart_change_url }}',
        cart_update_url: '{{ routes.cart_update_url }}',
        predictive_search_url: '{{ routes.predictive_search_url }}'
      };
      
      window.cartStrings = { 
      	error: `{{ 'sections.cart.cart_error' | t }}`,
        quantityError: `{{ 'sections.cart.cart_quantity_error_html' | t }}`
      };
      
      window.variantStrings = {
      	addToCart: `{{ 'products.product.add_to_cart' | t }}`,
        soldOut: `{{ 'products.product.sold_out' | t }}`,
        unavailable: `{{ 'products.product.unavailable' | t }}`,
      };
      
      window.accessibilityStrings = { 
      	shareSuccess: `{{ 'general.share.success_message' | t }}`,
      };
    </script> 
  </body>
</html>  