<footer id="mainFooter" class="wrapper clearfix">
    <div class="footerInner yumin clearfix">
      <div class="fLeft">
        <div class="fLeftInner">
          <h1 class="amat logo">
            <a href="{{ routes.root_url }}">
                {%- if section.settings.logo_image != blank -%}
                <img class="logoImage" src="{{ section.settings.logo_image | img_url:'master' }}" alt="{{ 'sections.footer.alt' | t }}">
                {%- else -%}
                <img class="logoImage" src="{{ '99f73b9431e1daa02dd3034a0fe977b5.png' | asset_url }}" alt="{{ 'sections.footer.alt' | t }}">
                {%- endif -%}
            </a>
          </h1>
          <ul>
            {%- if section.settings.footer_link != blank -%}
            {%- for link in section.settings.footer_link.links -%}
                <li><a href="{{ link.url }}">{{ link.title }}</a></li>
            {%- endfor -%}
            {%- endif -%}
          </ul>
        </div>
      </div>

      <div class="fRight">
        <div class="fRightInner">
          <div class="social">
            <div class="inner-conts">
            {% render 'propaganda' %}
          </div>
        </div>
      </div>
      </div>

    </div>
    <div class="copyright crim"><small>{{ 'sections.footer.record_no' | t }}.</small></div>
</footer>

{% schema %}
{
  "name": "t:sections.footer.name",
  "settings": [
    {
        "type": "image_picker",
        "id": "logo_image",
        "label": "t:sections.footer.settings.logo_image.label"
    },
    {
        "type": "link_list",
        "id": "footer_link",
        "default": "footer",
        "label": "t:sections.footer.settings.footer_link.label"
    }
  ]
}
{% endschema %}