<footer id="mainFooter" class="wrapper clearfix">
  <div class="footerInner yumin clearfix">
    <div class="fLeft">
      <div class="fLeftInner">
        <h1 class="amat logo">
          <a href="{{ routes.root_url }}">
            {%- if section.settings.logo != blank -%}
            	{%- assign image_size = section.settings.logo_width | append: 'x' -%}
            	<img srcset="{{ section.settings.logo | img_url: image_size }} 1x, {{ section.settings.logo | img_url: image_size, scale: 2 }} 2x"
                  src="{{ section.settings.logo | img_url: image_size }}"
                  loading="lazy"
                  class="logoImage"
                  alt="{{ section.settings.logo.alt | default: shop.name | escape }}"
                 >	
            {%- else -%}
            	<span class="h2">{{ shop.name }}</span>
            {%- endif -%} 
          </a>
        </h1>
        {%- if section.settings.menu != blank -%}
          <ul>
            {%- for link in section.settings.menu.links -%}
            <li><a href="{{ link.url }}">{{ link.title }}</a></li>
            {%- endfor -%}
          </ul>
        {%- endif -%} 
      </div>
    </div>
    <div class="fRight">
      <div class="fRightInner">
        <div class="social">
          <div class="inner-conts">
            <ul class="clearfix">
              <li>
                <a href="{{ settings.social_facebook_link }}" target="_blank">
                  <img src="{{'fbicon.png' | asset_url }}" height="30" width="30">
                </a>
              </li>
              <li class="tw">
                <a href="{{ settings.social_twitter_link }}" target="_blank">
                  <img src="image/twicon.png" height="30" width="30">
                </a>
              </li>
              <li>
                <a href="{{ settings.social_instagram_link }}" target="_blank">
                  <img src="{{'igicon2018.png' | asset_url }}" height="30" width="30">
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="copyright crim"><small>© MoMoSale - ド定番から最新のものまで網羅！ストリート系ファッション専門店 All rights reserved.</small></div>
</footer>