<div class="dingbufudong" style="position: fixed;top: 0;">
    <!--手机端顶部横幅-->
    <section class="tongimg" id="fudddimg">
      <div class="widget sidebanner">
        <a href="
            {%- if section.settings.banner_image_url != blank -%}
            {{ section.settings.banner_image_url }}
            {%- endif -%}
        ">
        {%- if section.settings.banner_image != blank -%}
            <img src="{{ section.settings.banner_image | img_url: '1500x140' }}">
        {%- else -%}
          <img src="{{ 'image-tongadbanner_5e3e4ba09faeb.gif' | asset_url }}">
        {%- endif -%}
        </a>
      </div>
    </section>
    
    <!--手机端头部-->
    <header id="mainHeader" class="wrapper logo-center">
      <div id="shopHeader" class="clearfix">
        <div id="baseMenu">
          {% render 'image-icon-list' %}
        </div>
        <h1 class="amat">
          <a href="{{ routes.root_url }}" id="logo">
            {%- if section.settings.logo_image != blank -%}
                <img class="logoImage" src="{{ section.settings.logo_image | img_url: '846x273' }}" alt="{{ 'sections.header.logo_alt' | t }}">
            {%- else -%}
                <img class="logoImage" src="{{ '99f73b9431e1daa02dd3034a0fe977b5.png' | asset_url }}" alt="{{ 'sections.header.logo_alt' | t }}">
            {%- endif -%}
          </a>
        </h1>
        
        <div class="sb-toggle-right" id="slide-nav-open">
          <a class="menu-trigger" href="#">
            <span></span>
            <span></span>
            <span></span>
          </a>
        </div>

      </div>
    </header>
  </div>

  <!--电脑端最上方banner-->
  <section class="tongimg" id="fudddimg">
    <div class="widget sidebanner">
      <a href="
        {%- if section.settings.banner_image_url != blank -%}
            {{ section.settings.banner_image_url }}
        {%- endif -%}
      ">
        {%- if section.settings.banner_image != blank -%}
            <img src="{{ section.settings.banner_image | img_url: '1500x140' }}">
        {%- else -%}
            <img src="{{ 'image-tongadbanner_5e3e4ba09faeb.gif' | asset_url }}">
        {%- endif -%}
      </a>
    </div>
  </section>

{% schema %}
{
  "name": "t:sections.header.name",
  "settings": [
    {
        "type": "image_picker",
        "id": "logo_image",
        "label": "t:sections.header.settings.logo_image.label"
    },
    {
        "type": "image_picker",
        "id": "banner_image",
        "label": "t:sections.header.settings.banner_image.label"
    },
    {
        "type": "url",
        "id": "banner_image_url",
        "label": "t:sections.header.settings.banner_image_url.label"
    }
  ]
}
{% endschema %}