<div class="sb-slidebar sb-right sb-style-push sb-momentum-scrolling">
  {%- if section.settings.menu != blank -%}
  	<nav class="crim">
      {%- for link in section.settings.menu.links -%}
      	{%- if link.links != blank -%}
      		<li>
              <div id="category-menu">
              	<span class="mainHeaderNavColor">{{ link.title | escape }}</span>	
                <div class="category-list">
                  <ul id="appsItemCategoryTag">
                  	{%- for childlink in link.links -%}
                    <li class="appsItemCategoryTag_child">
                    	{%- if childlink.links == blank -%}
                      		<a href="{{ childlink.url }}" class="mainHeaderNavColor">{{ childlink.title | escape }}</a>
                      	{%- else -%}
                      		<a href="{{ childlink.url }}" class="mainHeaderNavColor">{{ childlink.title | escape }}</a>
                      		<ul class="appsItemCategoryTag_lowerchild">
                      			{%- for grandchildlink in childlink.links -%}
                              		<li><a href="{{ grandchildlink.url }}" class="mainHeaderNavColor appsItemCategoryTag_lowerLink">{{ grandchildlink.title | escape }}</a></li>
                              	{%- endfor -%}
                      		</ul>
                      	{%- endif -%} 
                    </li>
                    {%- endfor -%} 	
                  </ul>
                </div>
              </div>
      		</li>
      	{%- else -%}
      		<li><a class="mainHeaderNavColor" href="{{ link.url }}">{{ link.title | escape }}</a></li>
      	{%- endif -%}
      {%- endfor -%}
      <div class="column itemSearch">
      	<form id="x_itemSearchForm" class="itemSearch__form" action="{{ routes.search_url }}" method="get">
        	<input class="itemSearch__field ntsans" type="text" name="q" placeholder="{{ 'general.search.search' | t }}" value=""/>
          	<input type="hidden" name="type" value="product">
          	<button class="itemSearch__btn" type="submit">
                <span id="x_iconSearch" class="mainHeaderNavColor icon-search"></span>
            </button>
        </form>
      </div>
  </nav>
  {%- endif -%}
</div>
<script type="text/javascript">
  (function($) {
  	 $(document).ready(function() {
       $.slidebars();
     });
  }) (jQuery);
  
  $(function () {
  	$('.sb-toggle-right').on('click touchstart', function(){
      $('.menu-trigger').toggleClass('cls');
      $('#sb-site').toggleClass('side-open');
    });
     $('#js__overlay').on('click touchstart', function(){
       $('.menu-trigger').removeClass('cls');
       $('#sb-site').removeClass('side-open');
     });
  });
</script>

{% schema %}
{
	"name": "t:sections.slidebar.name",
	"settings": [ 
		{
			"type": "link_list",
			"id": "menu",
			"default": "main-menu",
			"label": "t:sections.slidebar.settings.menu.label"
		}
	]
}
{% endschema %}