<div class="dingbufudong" style="position: fixed;top: 0;">
  <section class="tongimg" id="fudddimg">
    <div class="widget sidebanner">
      <a href="{{ section.settings.banner_link }}"><img src="{{ section.settings.banner_image | img_url: '1500x'}}" loading="lazy" alt="{{ section.settings.image.alt | escape }}"></a>
    </div>
  </section>
  <header id="mainHeader" class="wrapper logo-center">
    <div id="shopHeader" class="clearfix">
      <div id="baseMenu">
        <ul class="clearfix">
          <li class="base" >
            <a target="_blank" href="{{ routes.root_url }}">
              <img src="{{'base.png' | asset_url }}" alt="BASE" title="BASE" height="30">
            </a>
          </li>
          <li class="cart">
            <a href="{{ routes.cart_url }}">
              <img src="{{'cart.png' | asset_url }}" alt="shopping cart" height="30">
            </a>
          </li>
        </ul>
      </div>
      <h1 class="amat">
        <a href="{{ routes.root_url }}" id="logo">
          {%- if section.settings.logo != blank -%}
          	{%- assign image_size = section.settings.logo_width | append: 'x' -%}
          	<img srcset="{{ section.settings.logo | img_url: image_size }} 1x, {{ section.settings.logo | img_url: image_size, scale: 2 }} 2x"
               src="{{ section.settings.logo | img_url: image_size }}"
               loading="lazy"
               class="logoImage"
               alt="{{ section.settings.logo.alt | default: shop.name | escape }}"
               >
          {%- else -%}
          	<span class="h2">{{ shop.name }}</span>
          {%- endif -%} 
        </a>
      </h1>
      {%- if section.settings.menu != blank -%}
      <nav class="crim">
        <ul>
          {%- for link in section.settings.menu.links -%}
          	{%- if link.links != blank -%}
          		<li class="hovline">
                <div id="category-menu" class="clearfix">
                  <span class="mainHeaderNavColor">{{ link.title | escape }}</span>
                  <div class="category-list">
                    <ul id="appsItemCategoryTag">
                      {%- for childlink in link.links -%}
                      <li class="appsItemCategoryTag_child">
                      	{%- if childlink.links == blank -%}
                        	<a href="{{ childlink.url }}" class="mainHeaderNavColor">{{ childlink.title | escape }}</a>
                        {%- else -%}
                        	<ul class="appsItemCategoryTag_lowerchild">
                              {%- for grandchildlink in childlink.links -%}
                                <li><a href="{{ grandchildlink.url }}" class="mainHeaderNavColor appsItemCategoryTag_lowerLink">{{ grandchildlink.title | escape }}</a></li>
                              {%- endfor -%}
                            </ul>
                        {%- endif -%} 
                      </li>
                      {%- endfor -%} 
                    </ul>
                  </div>
                </div>
          	  </li>
          	{%- else -%}
          	  <li class="hovline"><a class="mainHeaderNavColor" href="{{ link.url }}">{{ link.title | escape }}</a></li>		
          	{%- endif -%}
          {%- endfor -%}
          <li class="nav-search">
            <a href="#" id="toggle-search"><span id="x_iconSearch" class="mainHeaderNavColor icon-search"></span></a>
          </li>
          <li>
            <div id="baseMenu">
              <ul class="clearfix">
                <li class="base" >
                  <a target="_blank"  href="#">
                    <img src="image/base.png" alt="ネットショップを開設するならBASE" title="BASE" height="30">
                  </a>
                </li>
                <li class="cart">
                  <a href="#">
                    <img src="image/cart.png" alt="shopping cart" height="30">
                  </a>
                </li>
              </ul>
            </div>
          </li>
        </ul>
      </nav>	
      {%- endif -%}
      
      <div class="sb-toggle-right" id="slide-nav-open">
        <a class="menu-trigger" href="#">
          <span></span>
          <span></span>
          <span></span>
        </a>
      </div>
    </div>
  </header>
</div>
<section class="tongimg" id="fudddimg">
  <div class="widget sidebanner">
    <a href="">
      <img src="image/image-tongadbanner_5e3e4ba09faeb.gif">
    </a>
  </div>
</section>
{% schema %}
{
	"name": "t:sections.top-header.name",
	"tag": "section",
	"settings": [
		{
			"type": "text",
			"id": "heading",
			"default": "Top Banner",
			"label": "t:sections.top-header.settings.heading.label"
		},
		{
			"type": "image_picker",
			"id": "banner_image",
			"label": "t:sections.top-header.settings.banner_image.label"
		},
		{
			"type": "url",
			"id": "banner_url",
			"label": "t:sections.top-header.settings.banner_url.label"
		},
		{
			"type": "image_picker",
			"id": "logo",
			"label": "t:sections.top-header.settings.logo.label"
		},
		{
			"type": "range",
			"id": "logo_width",
			"min": 50,
			"max": 250,
			"step": 10,
			"default": 100,
			"unit": "t:sections.top-header.settings.logo_width.unit",
			"label": "t:sections.top-header.settings.logo_width.label"
		}
	],
	"presets": [
        {
            "name": "t:sections.top-header.presets.name"
        }
    ]
}	
{% endschema %}